.hidden-force {
  display: none !important;
}

.display-force {
  display: block !important;
}

.flex-force {
  display: flex !important;
}

.lightbox-display-force {
  opacity: 1 !important;
  display: flex !important;
}

.lightbox-display-force .popup {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
  transform-style: preserve-3d;
}

.popup a:not(.add, .add-to-cart, .hide-mobile, .close-button-popup-module) {
  display: none !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.clickable {
  cursor: pointer;
}